# Lab Assignment 2 - Emily Campbell
## 200008521

## Python Basics

#### **Task 1:**

**I created an if...else statement to test whether 30 is divisible by 3. Use of the modulus operation determines that if the remainder is 0, the number is divisible by 3. If it is not 0, the number is not divisible.**

In [ ]:
x = 30
y = 3
if x%y == 0:
    print("30 is divisible by 3.")

else:
    print("30 is not divisible by 3.")

#### **Task 2:**

**I created an if...else statement to test whether a type of fruit, represented by a test string, is in a list of acceptable fruits. If the value "plum" was greater than 0, it was present in the list and acceptable. If it was not, it was not acceptable.**

In [ ]:
fruit = "plum"
lst = ["apple", "orange", "pear", "kiwi", "strawberry"]
result = lst.count(fruit)
if result > 0:
    print("plum is acceptable")
else:
    print("plum is not acceptable")

#### **Task 3:**

**This function calculates the distance between London (51.50734, -0.12778) and Paris (48.85661, 2.35222) using the haversine formula. I inputted a pair of coordinates (coord1 and coord2) as two lists, converted the latitudes and longitudes into radians, and inputted them into the formula to produce a distance of 343.55 km.**

In [ ]:
import math
from math import sin, cos, sqrt, atan2, radians
def haversine(coord1:object, coord2:object):
    
    lon1, lat1 = coord1
    lon2, lat2 = coord2
    phi_1 = math.radians(lat1)
    phi_2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)
    
    a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi_1) * math.cos(phi_2) * math.sin(delta_lambda / 2.0) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    R = 6371
    return R * c

coord1 = -0.12776, 51.50735
coord2 = 2.35222, 48.85661
print(haversine(coord1, coord2))

## Pandas and NumPy

**I read the portland_park_trees file, importing pandas as pd and numpy as np.**

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("~/Documents/PY4SA23_Assignment/portland_park_trees.csv")

#### **Question 1: How many trees are of the Quercus or Acer genus?**

**First I defined the values, and then the column the trees were being counted from using df["Genus"]. Then the value_counts() method returned a Panda Series object that contained the counts of each unique value in the Genus column. Counts[values] then summarised the number of trees of the Quercus or Acer genus, which was 5675 trees.**

In [ ]:
values = ["Quercus", "Acer"]
counts = df["Genus"].value_counts()
counts[values].sum()

#### **Question 2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?**

**I filtered the dataframe to include trees of just the Quercus and Acer genus, with a DBH of over 50 inches. The Pandas method isin() checks if a value is contained within the selected column. The len() function then calculates the length of the collection of values. The printed result was 124 trees.**

In [ ]:
filt_trees = df[(df["Genus"].isin(["Quercus", "Acer"])) & (df["DBH"] > 50)]
num_filt_trees = len(filt_trees)
print(num_filt_trees)

#### **Question 3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?**

**I filtered the dataframe to only include trees of the Quercus, Acer and Fraxinus genus. Then I grouped these trees by mean, using the Pandas functions groupby().mean, and then found the highest mean using the .idmax method. The result was that the Quercus genus has the highest mean DBH.**

In [ ]:
filt_trees = df[df["Genus"].isin(["Quercus", "Acer", "Fraxinus"])]
genus_mean_dbh = filt_trees.groupby("Genus").mean()
highest_mean_genus = genus_mean_dbh.idxmax()["DBH"]
print(highest_mean_genus)

#### **Question 4: How many different species of trees are recorded in the Acer genus?**

**For this, I filtered the dataframe to include only trees from the Acer genus, and further filtered it to calculate the .value_count of species within the Acer genus. The printed result was 20 different species of trees.**

In [ ]:
acer_genus = df[df["Genus"] == "Acer"]
num_species = acer_genus["Species"].value_counts().shape[0]
print(num_species)

#### **Question 5:**

**I read the world_cities file as a pandas dataframe and calculated a new column named pop_M by transforming the pop column. I converted the values into millions and then deleted the original column using the .drop method followed by inplace=True which modified the original dataframe.**

In [ ]:
cities = pd.read_csv("~/Documents/PY4SA23_Assignment/world_cities.csv")

In [ ]:
cities["pop_M"] = cities["pop"] / 1000000
cities.head()

In [ ]:
cities.drop("pop",axis=1,inplace=True)
cities.head()

**I chose Edmonton as my city that began with an E and proceeded to subset the five largest population sizes in Canada. The sort_values() method sorted the dataframe according to pop_M, then the ascending=False parameter produced the results in descending order, with highest population at the top. I then printed the result as shown below:**

In [ ]:
cities_edmonton = cities[cities["city"] =="Edmonton"]
print(cities_edmonton)

In [ ]:
country_canada = cities[cities["country"] == "Canada"]
largest_cities = country_canada.sort_values("pop_M", ascending=False).head(5)
print(largest_cities)

# Python Data Visualization

**Here I imported the seaborn, pandas and matplotlib libraries.**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = [10, 8]

#### **Graph 1:**

**I created a scatterplot for just trees in the Ulmus genus, with DBH mapped on the x-axis and tree height mapped to the y-axis.**

In [ ]:
simd = pd.read_csv("~/Documents/PY4SA23_Assignment/portland_park_trees.csv")
simd.columns =[column.replace(" ", "_") for column in simd.columns]

In [ ]:
ulmus_genus = df[df["Genus"] == "Ulmus"]
sns.scatterplot(data=ulmus_genus, x="DBH", y="TreeHeight")
plt.show()

#### **Graph 2:**

**I created the same scatterplot, only now with tree species mapped to hue added.**

In [ ]:
sns.scatterplot(data=ulmus_genus, x="DBH", y="TreeHeight", hue="Species")

plt.show()

### **Graph 3:**

**I created a boxplot of DHB for the Ulmus genus, differentiated by species wherein the x axis showed Species and the y axis showed DBH.**

In [ ]:
plt.figure(figsize=(10, 15))
sns.boxplot(data=ulmus_genus, x="Species", y="DBH")

plt.title('Boxplot showing the DBH for the Ulmus genus differentiated by species')

plt.show()

#### **Graph 4:**

**I then combined Graphs 1 and 3 into a single figure using seaborn and .subplots. Fig, axs = plt.subplots(ncols=2) created a figure with two columns of subplots. The result was a tuple containing the two subplots.**

In [ ]:
fig, axs = plt.subplots(ncols=2)

sns.set(rc={"figure.figsize":(12, 5)})
sns.scatterplot(data=ulmus_genus, x="DBH", y="TreeHeight", ax=axs[0])
axs[0].set_title("DBH and Tree height of trees in the Ulmus genus")

sns.boxplot(data=ulmus_genus, x="Species", y="DBH", ax=axs[1])
axs[1].set_title("DBH of Ulmus genus by Species")

plt.show()

# Python GeoPandas

#### **Task 1**

**Here I imported the geopandas, contextily and rasterio libraries, and read the Scotland Index of Multiple Deprivation 2020 as a GeoPandas dataFrame.**

In [ ]:
import geopandas as gpd
import contextily as ctx
import rasterio as rio
from rasterio import plot

In [ ]:
simd_geo = gpd.read_file('Assignment 2 Data/SG_SIMD_2020/SG_SIMD_2020.shp')

#### **Task 2**

**I then displayed the first and last 5 sets of records in the dataset using the .head() and .tail() methods.**

In [ ]:
simd_geo.head(5)

In [ ]:
simd_geo.tail(5)

#### **Task 3**

**I created a map that could explore this dataset. I plotted it according to the categorical attribute EduAttend. <font color='red'>My PDF version contains a screenshot of this map</font>**

In [ ]:
simd_geo.explore(column="EduAttend", cmap="Blues")

#### **Task 4**

**I found the Coordinate Reference System of the dataset using the crs geopandas attribute which lists the spatial coordinate system imformation for the file. The printed result was EPSG:27700**

In [ ]:
print(simd_geo.crs)

#### **Task 5**

**In a dataset, a feature is a measureable property, displayed in columns. Therefore to find how many features are contained within a dataset I used the len() function. The printed result was 52**

In [ ]:
num_features = len(simd_geo.columns)
print(num_features)

#### **Task 6**

**For this task I sub-set data from within Falkirk only. Therefore I created a new geopandas dataframe wherein the dataset was filtered according to the LAName categorical attribute, and specifically Falkirk.**

In [ ]:
index_simd = simd_geo["LAName"] == "Falkirk"
catattr_simd = simd_geo[index_simd]
catattr_simd

#### **Task 7**

**Here I defined my sub-setting according to the numerical attribute CrimeRate. I created a new geopandas dataframe filtered by CrimeRate of less than 300.**

In [ ]:
index_simd = simd_geo["CrimeRate"] < 300
numattr_simd = simd_geo[index_simd]
numattr_simd

#### **Task 8**

**Here I installed pip install earthy and imported the earthpy, earthpy.spatial and earthpy.plot libraries.**

In [ ]:
pip install earthy

In [ ]:
import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

**Then for task 8 I plotted a filtered geopandas dataframe using the attribute SAPE2017, creating a chloropleth map. I customised the legend using legend_kwds=).**

In [ ]:
plt.rcParams['figure.figsize'] = [10, 9]
fig, ax = plt.subplots(1, 1)
catattr_simd.plot(column="SAPE2017", cmap="turbo", ax=ax, legend=True, legend_kwds={"label":"SAPE2017",'orientation':"vertical"})

# Python Rasterio

#### **Task 1**

**Here I imported rasterio, and from rasterio import plot. This enabled me to read the file as a rasterio dataset.**

In [ ]:
import rasterio as rio
from rasterio import plot

In [ ]:
elev = rio.open('Assignment 2 Data/elev.tif')

#### **Task 2**

**The CRS of the dataset was EPSG:32617, found with the following code:**

In [ ]:
print(elev.crs)

#### **Task 3**

**The print(elev.) function revealed the raster extent(bounds), reference system and number of bands in the dataset. The elev.bounds function returned the bounding box coordinates of the dataset in a tuple, showing the spatial extent of the dataset. The elev.crs returned the reference system of the dataset, and elev.count returned the number of bands contained within the dataset, which is 1.**

In [ ]:
print(elev.bounds)
print(elev.crs)
print(elev.count)

#### **Task 4**

**Before creating a map of the raster dataset, I first included a masked array to mask out values with no data or invalid data (0) which could be present in the elevation dataset. This improved the accuracy of the resulting map.**

In [ ]:
elev_arr = elev.read(1, masked = True)
elev_arr

In [ ]:
image_read_masked = np.ma.masked_array(elev_arr, mask=(elev_arr == 0))

**The result was a masked chloropleth map**

In [ ]:
plt.rcParams['figure.figsize'] = [10, 8]
plt.imshow(image_read_masked, cmap="gist_earth")

#### **Task 5**

**I created a histogram of the raster dataset using the earthpy method ep.hist and the previous masked array.**

In [ ]:
ep.hist(image_read_masked, figsize=(8,8), title="Raster_Histogram")