In [24]:
df = pd.read_csv("~/Documents/PY4SA23_Assignment/portland_park_trees.csv")
df

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,09/05/2017,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,09/05/2017,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,09/05/2017,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,09/05/2017,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,09/05/2017,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25529,25530,726046,16/08/2018,QURU,31.6,Fair,74.0,50.0,46.0,volunteer,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
25530,25531,726443,11/10/2019,PSME,0.4,Good,8.0,6.0,6.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
25531,25532,726444,11/10/2019,MEGL,26.3,Fair,79.0,30.0,40.0,staff,...,Metasequoia,dawn redwood,Metasequoia glyptostroboides,CD,L,No,NaN,NaN,Asia - central China,"A deciduous conifer, dawn redwood is Oregon's ..."
25532,25533,726445,11/10/2019,PCSI,8.8,Fair,43.0,20.0,20.0,staff,...,Picea,Sitka spruce,Picea sitchensis,CE,L,Yes,NaN,NaN,North America - Alaska south to British Columb...,"Green, 1"" long, typically flat needles are the..."
25533,25534,726446,11/10/2019,COKO,2.0,Good,18.0,13.0,13.0,staff,...,Cornus,kousa dogwood,Cornus kousa,BD,S,No,NaN,NaN,"Asia - Japan, Korea",A 20-30' tree with showy white flower bracts t...

#### Question 1: How many trees are of the Quercus or Acer genus?

In [44]:
df["Genus"].value_counts()

Pseudotsuga      6783
Acer             3586
Quercus          2089
Prunus           1333
Pinus             983
                 ...
Machilus            1
Eucommia            1
Azara               1
Phellodendron       1
Laburnum            1
Name: Genus, Length: 117, dtype: int64

In [75]:
values = ["Quercus", "Acer"]
counts = df["Genus"].value_counts()
counts[values].sum()

5675

In [ ]:
values =["Quercus", "Acer"]
counts = df["Genus"],value_counts()
print(counts[values].sum().where[values

In [90]:
df.value_counts(["Species", "Genus"])

Species  Genus
PSME     Pseudotsuga    6783
ACPL     Acer           1502
THPL     Thuja           964
QURU     Quercus         736
QUPA     Quercus         619
                        ...
LG       Ligustrum         1
ABAL     Abies             1
MGCA     Magnolia          1
QUHY     Quercus           1
MGAS     Magnolia          1
Length: 305, dtype: int64

**This code shows that there are 2089 trees in the Quercus genus and 3586 in the Acer genus**

#### Q2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [ ]:
df.query("genus

In [99]:
df = pd.read_csv("~/Documents/PY4SA23_Assignment/world_cities.csv", sep=",", header=0, encoding="ISO-8859-1")
df

                     city       country     pop    lat    lon  capital
0      'Abasan al-Jadidah     Palestine    5629  31.31  34.34        0
1      'Abasan al-Kabirah     Palestine   18999  31.32  34.35        0
2            'Abdul Hakim      Pakistan   47788  30.55  72.11        0
3      'Abdullah-as-Salam        Kuwait   21817  29.36  47.98        0
4                   'Abud     Palestine    2456  32.03  35.07        0
...                   ...           ...     ...    ...    ...      ...
43640           az-Zubayr          Iraq  124611  30.39  47.71        0
43641            az-Zulfi  Saudi Arabia   54070  26.30  44.80        0
43642       az-Zuwaytinah         Libya   21984  30.95  20.12        0
43643        s-Gravenhage   Netherlands  479525  52.07   4.30        0
43644     s-Hertogenbosch   Netherlands  135529  51.68   5.30        0

[43645 rows x 6 columns]

In [ ]:
df["pop_M"] = df["pop"] / 1000000